{% extends 'base.html' %}
{% block title %}
Users Page
{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Tours</th>
    </tr>
  </thead>
  <tbody>
  {% for user in user_data %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }} </td>
      <td>

        <a href="{{ url_for('create_tours', user_id=user.id) }}" style="color: black; font-size: 20px">+</a>
      </td>
    </tr>

  {% endfor %}
  </tbody>
</table>


{% endblock %}